/*
        속성에서 배경색만 클래스,아이디,태그에서 
        배경색 설정을 동시에 사용하고 있음
        동시에 사용하는 속성이 아니면, 모두 누적됨
        */
/*3순위 : 아이디 선택자*/
#아이디속성 {
  color: white; /*다른곳에서 사용한적 없는 속성이기 때문에 적용 되는것*/
  background-color: black;
}
/*4순위 : 클래스 선택자*/
.클래스속성 {
  font-size: 25px;
  background-color: green;
}
/*5순위 : 태그 선택자*/
div {
  width: 200px;
  height: 200px;
  background-color: red !important; /*1순위 !important*/
}
/* !important : 후임이나 신규개발자 고의성이 다분 등등 
        스타일의 속성이 의도한 바와 다르게 설정되는 것을 방지하기 위해
        사용되는 값 */
